﻿@{
    ViewBag.Title = "Contact";
}
<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-3">
                @*<h1 class="title text-center"> <strong>.</strong></h1>*@
                @*<h2 class="title text-center"> <strong>.</strong></h2>*@
                @*<div id="gmap" class="contact-map">*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="contact-form">
                    <h2 class="title text-center">BİZE YAZIN</h2>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" required="required" placeholder="Ad Soyad">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" name="email" class="form-control" required="required" placeholder="E-Posta Adresiniz">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" name="subject" class="form-control" required="required" placeholder="Konu">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" width="290" height="180" placeholder="Mesajınız"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" name="submit" class="btn btn-primary pull-right" value="Gönder">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="contact-info">
                    <h2 class="title text-center">İletİşİm Bİlgİlerİ</h2>
                    <address>
                        <p>Hakan Bilgisayar Tic. Ltd. Şirketi</p>
                        <p>Piri Mehmet Paşa Mahallesi Silivri</p>
                        <p>İstanbul Türkiye</p>
                        <p>Mobile: +90 555 55 55</p>
                        <p>Fax: 0212 728 88 88</p>
                        <p>Email: iletisim@hakanbilgisayar.com</p>
                    </address>

                    <!--Harita-->

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3007.822385811296!2d28.253571715256058!3d41.07287492339637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b51578e732ab6d%3A0xf18fd37420996545!2sT.C.+Silivri+Belediyesi!5e0!3m2!1str!2str!4v1481659157068" width="290" height="180" frameborder="0" style="border:0" allowfullscreen></iframe>

                        @*<h2 class="title text-center">Social Networking</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>*@
                    
                </div>
            </div>
        </div>
    </div>
</div><!--/#contact-page-->