﻿
@{
    ViewBag.Title = "Yazici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HakanBilgisayar.Controllers.AnaSayfaDTO
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div id="slider" class="item active" data-id="@Model.slider.First().ID">

                            @if (Model.slider.First().SliderFoto == null)
                            {
                                <img src="~/Content/images/404/404.png" alt="@Model.slider.First().SliderText" />
                            }
                            else
                            {
                                <img style="height:292px;" src="data:image/png;base64,@System.Convert.ToBase64String(Model.slider.First().SliderFoto)" alt="@Model.slider.First().SliderText">
                            }
                            <div class="carousel-caption">
                                <h3>@Model.slider.First().SliderText</h3>
                            </div>
                        </div>

                        <!-- En Son eklenen Slide getiriyoruz -->
                        @foreach (var item in Model.slider)
                        {
                            if (item.ID == 1)
                            {
                                continue;
                            }
                            <div id="slider" class="item" data-id="@item.ID">

                                @if (item.SliderFoto == null)
                                {
                                    <img src="~/Content/images/404/404.png" alt="@item.SliderText" />
                                }
                                else
                                {
                                    <img style="height:292px;" src="data:image/png;base64,@System.Convert.ToBase64String(item.SliderFoto)" alt="@item.SliderText">
                                }
                                <div class="carousel-caption">
                                    <h3>@item.SliderText</h3>
                                </div>
                            </div>
                        }
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<section>

    <div class="col-sm-12">

        <!--features_items-->
        <h2 class="title text-center">Features Items</h2>
      
            
            @foreach (var item in Model.yazici)
            {

                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img style="height:100%; width:100%;" src="data:image/png;base64,@System.Convert.ToBase64String(item.YaziciFoto)">
                                <h2>@item.Fiyat</h2>
                                <p>@item.Marka - @item.Model</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>@item.Fiyat</h2>
                                    <p>@item.Marka - @item.Model</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
      



    </div>
</section>





