﻿@model IEnumerable<HakanBilgisayar.Models.Data.Bilgisayar>
@{
    ViewBag.Title = "Bilgisayar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bilgisayar</h2>


<p>
    @Html.ActionLink("Create New", "BilgisayarEkle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ozellikler)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ozellikler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipi)
            </td>
            <td>
                @Html.ActionLink("Edit", "BilgisayarDuzenle", new { id = item.ID }) |
                @Html.ActionLink("Details", "BilgisayarDetay", new { id = item.ID }) |
                @Html.ActionLink("Delete", "BilgisayarSil", new { id = item.ID })
            </td>
        </tr>
    }

</table>