﻿@model HakanBilgisayar.Models.Data.Bilgisayar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bilgisayar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
        </dt>
        <dd>
            <div class="col-sm-10">
                @if (Model.BilgisayarFoto == null)
                {
                    <img style='width:50%; height:auto; border:solid 1px #cccccc;' src="~/Content/images/404/404.png" alt="" />
                }
                else
                {
                    <img style='width:25%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.BilgisayarFoto)" alt="" />
                }
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ozellikler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ozellikler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "BilgisayarDuzenle", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
