﻿@model HakanBilgisayar.Models.Data.Elektronik

@{
    ViewBag.Title = "ElektronikDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ElektronikDetay</h2>

<div>
    <h4>Elektronik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ozellikler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ozellikler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElektronikFoto)
        </dt>

        <dd>
            <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.ElektronikFoto)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Elektronik ürünleri göster", "Elektronik")
</p>
