﻿@model IEnumerable<HakanBilgisayar.Models.Data.Elektronik>

@{
    ViewBag.Title = "Elektronik";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Elektronik</h2>

<p>
    @Html.ActionLink("Yeni parça ekle", "ElektronikEkle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ozellikler)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElektronikFoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ozellikler)
        </td>
        <td>
            <img style='width:64px; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.ElektronikFoto)" />
        </td>
        <td>
            @Html.ActionLink("Düzenle", "ElektronikDuzenle", new { id=item.ID }) |
            @Html.ActionLink("Detaylar", "ElektronikDetay", new { id=item.ID }) |
            @Html.ActionLink("Sil", "ElektronikSil", new { id=item.ID })
        </td>
    </tr>
}

</table>
