﻿@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Rol";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rol</h2>

<table class="table table-bordered">
    <caption>
        @Html.ActionLink("Yeni Rol Ekle", "RolEkle", "Admin", htmlAttributes: new { @class = "btn btn-primary" })|
        @Html.ActionLink("Role Kullanici Ekle", "RolKullaniciEkle", "Admin", htmlAttributes: new { @class = "btn btn-primary" })
    </caption>
    <tr>
        <th>
            Rol Adı
        </th>
        <th>
            Roldeki Kullanıcı Sayısı
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Users.Count
            </td>
        </tr>
    }
</table>