﻿@model HakanBilgisayar.Models.RolModel
@{
    ViewBag.Title = "RolEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>RolEkle</h2>

@using (Html.BeginForm("RolEkle", "Admin", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.RolAdi, new { htmlAttributes = new { @class = "form-control" } })
    <input type="submit" value="Gönder" />
}