﻿
@{
    ViewBag.Title = "SlideDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/plugins/form-datepicker/css/datepicker.css" rel="stylesheet" />
<script src="~/Content/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>

@model HakanBilgisayar.Models.Data.Slider
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("SlideDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.ID)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Slide Düzenle</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    @if (Model.SliderFoto == null)
                                    {
                                        <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" />
                                    }
                                    else
                                    {
                                        <img style='width:50%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.SliderFoto)" alt="" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Fotoğraf</label>
                                <div class="col-sm-10">
                                    <input type="file" name="file" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Açıklama</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.SliderText, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Başlangıç Tarihi</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.BaslangicTarih, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Bitiş Tarihi</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.BitisTarih, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value="Güncelle" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#BitisTarih").datepicker({ dateFormat: 'dd-MM-yyyy' });
        $("#BaslangicTarih").datepicker({ dateFormat: 'dd-MM-yyyy' });
    });
</script>




