﻿@model HakanBilgisayar.Models.Data.Yazici

@{
    ViewBag.Title = "YaziciDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>YaziciDetay</h2>

<div>
    <h4>Yazici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ozellikler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ozellikler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YaziciFoto)
        </dt>

        <dd>
            <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.YaziciFoto)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
